body {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  background-color: #fff;
}

table {
  border-spacing: 8px;
  border-collapse: separate;
}

th {
  padding-right: 64px;
  color: #586e75;
  padding-top: 32px;
  padding-bottom: 8px;
  border-bottom: 2px solid #586e75;
  text-align: left;
}

td {
  white-space: pre;
  padding: 8px;
  background-color: #f4f6f6;
  border: 1px solid #e4e6e6;
  border-top-width: 4px;
  cell-spacing: 4px;
  vertical-align: top;
  line-height: 1.5em;
}

td:first-child {
  white-space: normal;
  color: #586e75;
  background: none;
}

td.error {
  text-align: center;
  vertical-align: middle;
  border-color: #c4c6c6 !important;
  color: #646666;
}

td:first-child .hljs-string,
td:first-child .hljs-attr,
code {
  background: #f6f8f8;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0px 2px;
  margin: 0 2px;
}

td div {
  white-space: pre;
  display: block;
}

td p {
  margin: 0;
  padding: 0;
  padding-top: 1.5em;
}

.hljs-attr {
  color: #2aa198;
}

.hljs-literal {
  color: #b58900;
}

.hljs-string {
  color: #6c71c4;
}

.hljs-number {
  color: #d33682;
}

.hljs-keyword {
  font-weight: bold;
}

.hljs-punctuation {
  color: #93a1a1;
}
