<!doctype html>
<html>
  <head>
    <title>Query Parsing Suite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div>
      <table>
        {{#sections}}
        <thead>
          <tr>
            <th>{{name}}:</th>
            {{#frameworks}}
            <th>{{.}}</th>
            {{/frameworks}}
          </tr>
        </thead>
        <tbody>
          {{#results}}
          <tr>
            <td>
              <div>{{#querySegments}}{{#amp}}<span class="hljs-punctuation">{{amp}}</span>{{/amp}}{{#name}}<span class="hljs-attr" title="{{decodedName}}">{{name}}</span>{{/name}}{{#eq}}<span class="hljs-punctuation">{{eq}}</span>{{/eq}}{{#value}}<span class="hljs-string" title="{{decodedValue}}">{{value}}</span>{{/value}}{{/querySegments}}
              </div>
              {{{description}}}
            </td>
            {{#frameworks}}
            <td>{{{.}}}</td>
            {{/frameworks}}
          </tr>
          {{/results}}
        </tbody>
        {{/sections}}
      </table>
    </div>
  </body>
</html>
