<!doctype html>
<html>
  <head>
    <title>Query Parsing Suite</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div>
      <table>
        <thead>
          <tr>
            <th></th>
            {{#frameworks}}
            <th>{{.}}</th>
            {{/frameworks}}
          </tr>
        </thead>
        <tbody>
          {{#results}}
          <tr>
            <td>{{query}}</td>
            {{#frameworks}}
            <td>{{{.}}}</td>
            {{/frameworks}}
          </tr>
          {{/results}}
        </tbody>
      </table>
    </div>
  </body>
</html>
