<!doctype html>
<html>
  <head>
    <title>Query Parsing Suite</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="fonts.css">
  </head>
  <body>
    <div>
      <table>
        <thead>
          <tr>
            <th>Web framework</th>
            <th>Query string</th>
            <th>JSON interpretation</th>
          </tr>
        </thead>
        <tbody>
          {{#frameworks}}
            <tr>
              <td rowspan="{{rows}}">{{name}}</td>
              <td></td>
              <td></td>
            </tr>
            {{#queries}}
            <tr>
              <td>{{queryString}}</td>
              <td>{{json}}</td>
            </tr>
            {{/queries}}
          {{/frameworks}}
        </tbody>
      </table>
    </div>
  </body>
</html>
