name: run-query-parse-test-suite
run-name: Running test suite
on: [push]
permissions:
  contents: write
jobs:
  dotnet-minimal:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frameworks/dotnet-minimal
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
    - run: ./serve
    - working-directory: .
      run: ./bin/run > results.json
    - uses: actions/upload-artifact@v3
      with:
        name: dotnet-minimal-results
        path: results.json
  go-vanilla:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frameworks/go-vanilla
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version: '1.19.3'
    - run: ./serve
    - working-directory: .
      run: ./bin/run > results.json
    - uses: actions/upload-artifact@v3
      with:
        name: go-vanilla-results
        path: results.json
  java-spring:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frameworks/java-spring
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'temurin'
    - run: ./setup
    - run: ./serve
    - working-directory: .
      run: ./bin/run > results.json
    - uses: actions/upload-artifact@v3
      with:
        name: java-spring-results
        path: results.json
  node-express:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frameworks/node-express
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '18'
    - run: ./setup
    - run: ./serve
    - working-directory: .
      run: ./bin/run > results.json
    - uses: actions/upload-artifact@v3
      with:
        name: node-express-results
        path: results.json
  php-vanilla:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frameworks/php-vanilla
    steps:
    - uses: actions/checkout@v3
    - run: ./serve
    - working-directory: .
      run: ./bin/run > results.json
    - uses: actions/upload-artifact@v3
      with:
        name: php-vanilla-results
        path: results.json
  python-django:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frameworks/python-django
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v2
      with:
         python-version: 3.8
    - run: ./setup
    - run: ./serve
    - working-directory: .
      run: ./bin/run > results.json
    - uses: actions/upload-artifact@v3
      with:
        name: python-django-results
        path: results.json
  ruby-on-rails:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frameworks/ruby-on-rails
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1.152.0
      with:
        ruby-version: '3.1.2'
    - run: ./setup
    - run: ./serve
    - working-directory: .
      run: ./bin/run > results.json
    - uses: actions/upload-artifact@v3
      with:
        name: ruby-on-rails-results
        path: results.json
  whatwg-url:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frameworks/whatwg-url
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v3
      with:
        node-version: '18'
    - run: ./serve
    - working-directory: .
      run: ./bin/run > results.json
    - uses: actions/upload-artifact@v3
      with:
        name: whatwg-url-results
        path: results.json
  publish:
    runs-on: ubuntu-latest
    needs:
    - dotnet-minimal
    - go-vanilla
    - java-spring
    - node-express
    - php-vanilla
    - python-django
    - ruby-on-rails
    - whatwg-url
    steps:
    - uses: actions/checkout@v3
    - uses: actions/download-artifact@v3
    - run: ./bin/render
    - name: Deploy to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.4.2
      with:
        folder: publish

